* {
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
}

body {
    background-image: url("images/bg.jpg");
    background-repeat: repeat-x repeat-y;
}

#intro {
    padding-top: 150px;
    display: flex;
    justify-content: center;
}

.icon-btn {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    cursor: pointer;
}

#play-station {
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 100px;
    justify-content: center;
    background-color: #FFFFFF;
    width: 75vw;
    height: 90vh;
}

.play-card {
    width: 75vw;
    height: 75vh;
}

#play-station {
  margin-top: 50px;
  padding-top: 20px;
  border-radius: 20px;
}

#result {
  padding-top: 20px;
  font-weight: bolder;
}

#game-buttons {
  padding-top: 20px;
}